<input type="text" [(ngModel)] = "title">
{{ title }}


<div *ngIf="title === 'luis'">
    Este es un luis
</div>

<div *ngIf="title === 'felipe'">
    Este es felipe
</div>

<div *ngIf="title === 'antonio'">
    Este es antonio
</div>

<div [ngSwitch]="title" > 
    <p *ngSwitchCase="'luis'">Este es un luis</p>
    <p *ngSwitchCase="'felipe'">Este es felipe</p>
    <p *ngSwitchCase="'antonio'">Este es antonio</p>
    <p *ngSwitchDefault>No hay match</p>
</div>

<button (click)="addItem()"> Add item</button>

<ul>
    <li *ngIf="items.length === 0"> Lista vacia</li>
    <li *ngFor="let name of items; index as i">
        {{name}} {{i}}
        <button (click) ="deleteItem(i)">Delete</button>
    </li>
</ul>

<div class="product-list">
    <app-product *ngFor="let product of products"
     (productClicked)="clickProduct($event)" 
     [product]="product">
    </app-product>
</div>